.select span.main {
    border: 1px solid;
    display: inline-block;
    min-height: 20px;
min-width: 20px;
}


.items {
    position: absolute;
    z-index: 2;
    padding: 5px;
    border: 1px solid
}

.item.selected {
    background-color: blue;
    color: white;
}
